@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700');

 /*-----------------------------------Colours!! */

.navbar-light .navbar-brand{
    color: #1F6EAB
}

/*-----------------------------------Header!! */

.navbar-nav{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    text-align:center;
}

.navbar-brand{
    padding-bottom: 0;
    font-family: "Poppins",sans-serif;
    font-weight: 500;   
}

.navbar-nav>li{
  border-right: 1px solid #1F6EAB; 
}
.navbar-nav>li:last-child{
   border: none;
}

.noHover {
    pointer-events: none;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(201,102,0,.7);    
}
 
   
